# Feature Selection / Feature Engineer: Why Does It Work

Motivation: we are motivated to select the most important (influential, predictive) variables out of vast amount of noisy variables under small amount of sample size in a data. We are also interested in mechanically engineer new feature that recover the information preserved in a variable module.

### Feature Selection

Given $X$ and $Y$, let us define influence score (or I-score) to be the following
$$
\text{I}(X,Y) := \sum_{j \in \Pi} n_j^2 (\bar{Y}_j - \bar{Y})^2
$$
while $j$ indicates the $j^\text{th}$ partition in $\Pi$ which is the overall partition generated by $X$. 

If size of number of parameters gets extremely large, we also introduce a greedy search algorithm called Backward Dropping Algorithm (short for BDA). The Backward Dropping Algorithm states the following:
- Randomly select $k$ variables each round of Backward Dropping Algorithm;
- Take turns and drop each variable of the $k$ variables; and compute I-score; 
- Drop the variable that leads to the highest I-score, here we have $k-1$ variables left;
- Go back to first step and start again.

In the end, we report the variable set with the highest I-score and its associated I-score.

### Feature Engineer

In addition, let us also construct engineered features based on interaction-based variable sets. In other words, given $X$, we can construct
$$
X^{\dagger} := \bar{y}_j, \forall j \in \Pi
$$
while $\Pi$ is the total possible partitions generated by selected variable sets $X$ and $j$ indicates the $j^{\text{th}}$ partition in $\Pi$. The values of $X^{\dagger}$ is replaced with $\bar{y}_j$ which is the local average of resposne variable from each partition $j$.

### Artificial Example

Let us draw random variables from Bernoulli distribution and create data $X_1, ..., X_p$ and define underyling model to be
$$y = \left\{
\begin{matrix}
X_1 + X_2 & (\text{mod } 2) \\
X_3 + X_4 + X_5 & (\text{mod } 2) \\
\end{matrix}
\right.
$$

In [39]:
from scipy.stats import bernoulli
import pandas as pd
import numpy as np

In [108]:
n = 1000
p = 30
data_bern = bernoulli.rvs(size=n * p,p=0.5)

X = pd.DataFrame(data_bern.reshape([n, p]), columns=np.arange(p).astype(str))
print(X.shape)
print(X.head(2))

I = bernoulli.rvs(size=n, p=0.5)
print(np.mean(I))
y1 = np.mod(X.iloc[:, 1] + X.iloc[:, 2], 2)
y2 = np.mod(X.iloc[:, 2] + X.iloc[:, 3] + X.iloc[:, 4], 2)
y = np.where(I == 1, y1, y2)
print(np.mean(y))

(1000, 30)
   0  1  2  3  4  5  6  7  8  9  ...  20  21  22  23  24  25  26  27  28  29
0  1  1  1  1  0  1  0  1  0  0  ...   0   0   0   1   0   1   0   1   0   1
1  1  1  1  0  0  0  1  0  1  0  ...   0   0   1   0   1   0   0   0   0   0

[2 rows x 30 columns]
0.498
0.513

In [109]:
%run "../scripts/InteractionBasedLearning.py"
InteractionBasedLearning.InteractionLearning

---------------------------------------------------------------------

        Yin's Money Managmeent Package
        Copyright © YINS CAPITAL, 2009 – Present
        For more information, please go to www.YinsCapital.com

README:
This script has the following functions:

    (1) iscore(): this function computes the I-score of selected X at predicting Y
    (2) BDA(): this function runs through Backward Dropping Algorithm once
    (3) InteractionLearning(): this function runs many rounds of BDA and
                               finalize the variables selcted according to I-score

---------------------------------------------------------------------

In [110]:
tmpResult = InteractionBasedLearning.InteractionLearning(
    newX=X,
    y=y,
    testSize=0.9,
    num_initial_draw=9,
    total_rounds=200,
    top_how_many=2,
    nameExists=False,
    TYPE=str,
    verbatim=True)

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [01:29<00:00,  2.24it/s]

Time Consumption (in sec): 89.16
Time Consumption (in min): 1.49
Time Consumption (in hr): 0.02

In [111]:
tmpResult['Brief'].head()

         Modules     Score
79   [[2, 3, 4]]  2.955340
121     [[1, 2]]  2.712451
46      [[3, 7]]  1.678123
58      [[3, 5]]  1.635647
33      [[1, 3]]  1.632469

In [112]:
tmpResult['New Data'].head()

   2  3  4         0  1  2         0
0  1  1  0  0.250000  1  1  0.245690
1  1  0  0  0.752066  1  1  0.245690
2  0  0  0  0.314961  0  0  0.279412
3  1  0  0  0.752066  1  1  0.245690
4  0  1  0  0.772059  0  0  0.279412

Ends here.